/* THIS IS ONLY FOR EDITOR STYLES! */

main {
  background-color: var(--neutral1);
  display: flex;
  flex-direction: row;
  height: 93vh;
  width: 100%;
  padding: 5px;
  /* border: 1px solid red; */
  color: var(--main1);
}

.settings {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #333;
}

.settings div {
  margin: 5px;
  margin-bottom: 20px;
}

.settings p {
  font-weight: 700;
  font-size: 0.8rem;
  color: #333;
}

.settings label {
  font-weight: 500;
  font-size: 0.8rem;
  color: #333;
}

input {
  margin: 3px;
}

.easel {
  width: 100%;
}
.controls {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.canvas-parameters {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.canvas-frame {
  background-color: var(--main2);
  padding: 5px;
  /* width: 100px;
  height: 100px; */
}

.sketch {
  border: 1px solid black;
}

.utilities {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.parameters-section {
  display: flex;
}
.parameters {
  width: 100%;
}

.parameter p {
  font-size: 0.8rem;
}

.parameter input {
  margin: 0px;
}
