/* THIS IS ONLY FOR EDITOR STYLES! */

main {
  background-color: var(--neutral1);
  display: flex;
  flex-direction: row;
  height: 93vh;
  width: 100%;
  padding: 5px;
  /* border: 1px solid red; */
  color: var(--main1);
}

.settings {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #333;
}

.settings div {
  margin: 5px;
  margin-bottom: 20px;
}

.settings p {
  font-weight: 700;
  font-size: 0.8rem;
  color: #333;
}

.settings label {
  font-weight: 500;
  font-size: 0.8rem;
  color: #333;
}

input {
  margin: 3px;
}

.easel {
  width: 100%;
}
.controls {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  display: flex;
  font-size: 0.8rem;
}

.canvas-with-parameters {
  display: flex;
  /* background-color: blue; */
  /* border: 1px solid black; */
  justify-content: space-around;
}

.canvas-container {
  display: flex;
  justify-content: center;
  /* width: 700px; */
  /* border: 1px solid red; */
}

.canvas-frame {
  /* background-color: var(--main2); */
  padding: 5px;
  /* width: 100px;
  height: 100px; */
}

.sketch {
  /* border: 1px solid black; */
}

#defaultCanvas0 {
  border: 7px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.utilities {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.parameters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid red; */
}

.parameter {
  border: 1px solid black;
}

.parameter p {
  font-weight: 400;
}

.parameter label {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.parameter input {
  margin: 0px;
}
