/* global styles only! */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  /* border: 1px dotted rgba(169, 169, 169, 0.303); */

  font-family: "Open Sans", "Gill Sans", "Gill Sans MT",
    Calibvar(--neutral3) navri, "Trebuchet MS", sans-serif;
}

/* GLOBAL COLOR VARIABLES */
:root {
  --main1: black;
  --main2: white;
  --sub1: #1a1a1a;
  --sub2: #4b024f;
  --neutral1: #e1e1e1;
  --neutral2: #cccccc;
  --neutral3: #666666;
  --highlight1: #00ff00;
  --highlight2: #ff00ff;
  --highlight3: #ffff00;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--main1);
  color: var(--main2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

nav {
  /* background-color: var(--sub2); */
  background-color: var(--main1);
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 20px 20px;
  /* height: 22px; */
}

nav a {
  color: var(--main2);
  text-decoration: none;
  margin: 25px;
  font-size: 0.9rem;
  text-transform: lowercase;
  font-weight: 700;
  letter-spacing: 1px;
}

h1 {
  font-weight: 200;
  font-size: 2.3rem;
  color: var(--main2);
  letter-spacing: 1px;
}

h2,
h3,
h4 {
  font-weight: 300;
  color: var(--neutral2);
  letter-spacing: 1px;
}

.nav-logo:hover {
  filter: blur(1px);
}

nav a:hover {
  color: var(--highlight1);
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* border: 1px red solid; */
}

.top-nav-left {
  display: flex;
  justify-content: space-between;
  /* width: 33%; */
  /* border: 1px solid yellow; */
}

.top-nav-controls {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 3px red solid; */
  position: relative;
  left: -30px;
  width: 500px;
}
.top-nav-controls p {
  font-size: 1.2rem;
}

/* nav select {
  background-color: var(--main1);
  border: var(--neutral3) 2px solid;
  padding: 10px 20px;
  margin: 0px 10px;
  color: var(--neutral3);
  font-size: 1.2rem;
  height: 35px;
} */
/* 
nav select:hover {
  color: var(--main2);
  box-shadow: 0 0 10px var(--neutral2);
} */

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  /* border: 2px solid #00ff00; */
}

input {
  color: black;
  /* font-size: 1.2rem; */
}

.input-file {
  color: var(--neutral3);
}

.form-page,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-page input {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

.form-page img {
  width: 155px;
}

footer {
  background-color: var(--sub1);
  color: var(--neutral3);
  position: fixed;
  width: 100%;
  bottom: 0;
  text-transform: lowercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
}

.content-page {
  display: flex;
  width: 90%;
  /* max-width: 1200px; */
  /* border: 2px solid red; */
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 70%;
}

.profile-pic {
  width: 200px;
  height: auto;
}
.profile-info-box {
  margin-left: 30px;
}

.profile-info-box p {
  font-size: 0.9rem;
}

.profile-edit-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-edit-image * {
  padding: 10px;
}

.gallery {
  width: 90%;
  /* border: 2px solid blue; */
}

.gallery h2 {
  border-bottom: 1px solid var(--neutral3);
  padding: 10px;
}

.gallery-section {
  width: 100%;
}
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery-cell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  /* padding: 30px; */
  /* border: 1px solid #00ff00; */
}

.gallery-cell img {
  width: 90%;
  margin-bottom: 7px;
}

.community-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  /* border: 2px solid red; */
  grid-gap: 30px;
}

.community-grid-cell {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  /* border: 1px dotted red; */
}

.community-grid-cell img {
  width: 100%;
}

.community-grid-cell input {
  width: 70%;
  padding: 5px;
  background-color: var(--main1);
  border: var(--neutral3) 1px solid;
  height: 30px;
  color: white;
}

.community-info-box {
  width: 100%;
}

.community-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px red solid; */
}

.community-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}
